<div class="container text-center m-5">
  <h1>New Task</h1>

  <%= render 'form', task: @task %>


  <p class="m-4"><i class="fas fa-undo-alt p-2"></i><%= link_to "Back to list", tasks_path %></p>

</div>
